.main {
  display: grid;
  grid-template-areas: 'header' 'hero-section' 'footer';
  grid-template-rows: 80px 80vh 100px;
}
.header {
  grid-area: 'header';
}
.hero-section {
  grid-area: 'hero-section';
}
.footer {
  grid-area: 'footer';
}
