.main {
  height: 100vh;
  overflow-y: auto;
  display: grid;
  grid-template-areas: 'header' 'hero-section' 'content-container';
  grid-template-rows: 60px 75vh auto;
}
.header {
  grid-area: header;
  position: sticky;
  top: 0;
}
.hero-section {
  grid-area: hero-section;
}
.content-container {
  grid-area: content-container;
}
